extends ../layout

block content
  h2 Länder
  hr

  div.row
    for country in countries
      div.col.s12.m4.l3
        div.card
          div.card-image 
          div.card-content
          
            div.fab_a
              div.fixed-action-btn.horizontal.fab_b
                a.btn-floating.btn-tiny.blue-grey
                  i.tiny.mdi-navigation-menu
                ul#fab_ul
                  li#fab_li
                      a.btn-floating.green.darken-2(href='/country/new')
                        i.material-icons add
                  li#fab_li
                    a.btn-floating.brown(href='country/edit/#{country._id}')
                      i.material-icons edit
                  li#fab_li
                    form.form-horizontal(id='neues_land', method='POST', action='/country/delete/#{country._id}')
                      input(type='hidden', name='_csrf', value=_csrf)
                      input(type='hidden', name='id', value='#{country._id}')
                      input(type='hidden', name='_method', value='delete')
                      button.btn-floating.deep-orange(type='submit')
                        i.material-icons clear
           
            span.card-title
              a(href='country/#{country._id}') #{country.name}
            div= country.user_id 
          div.card-action
            
          
          
      
      